@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,700&display=swap");

$brand-color: #48bf72;
$bg-color: #3c4955;

$b-size: 2px;

$text-ff: "Lato", sans-serif;
$title-ff: "Montserrat", sans-serif;
